@media (max-width: 600px) {
    *{
        margin: 0;
    }
    h1{
        font-size: 1.5em;
        margin: 5px;
        margin-top: 20px;
    }
    p{
        margin: 5px;
    }
    .container{
        display: flex;
        width: 90%;
        flex-direction: column;
    }
    .image{
        width: 100%;
    }
    .text{
        width: 100%;
    }
    .input{
        width: 100%;
    }
}